{% with container_id=widget.attrs.id container_class=widget.attrs.class %}
<div{% if container_id %} id="{{ container_id }}"{% endif %} class="toggle-switch-list{% if container_class %} {{ container_class }}{% endif %}">
    {% for group_name, options, index in widget.optgroups %}
        {% if group_name %}
            <div class="toggle-switch__group-label">{{ group_name }}</div>
        {% endif %}
        {% for option in options %}
            {% with control_id=option.attrs.id %}
                <div class="toggle-switch">
                    <input type="{{ widget.type }}" name="{{ option.name }}"{% if option.value != None %} value="{{ option.value|stringformat:'s' }}"{% endif %}{% include "django/forms/widgets/attrs.html" with widget=option %}>
                    <label{% if control_id %} for="{{ control_id }}"{% endif %} class="toggle-switch__track" aria-hidden="true"></label>
                    <span class="toggle-switch__caption">{{ option.label }}</span>
                </div>
            {% endwith %}
        {% endfor %}
    {% endfor %}
</div>
{% endwith %}
